
h1 {
    color:#85440a;
}

.logo {
    z-index:10;
    position:absolute;
    margin-left:-128px;
}

.retour{
    text-align: center;
}

.book {
    width:30%;
    min-width:250px;
    height:180px;
    float:left;
    border:2px solid #eee;
    padding:5px;
    margin:5px;
    display:block;
    color:#666;
}

.book img {
    float:left;
}

.book .t {
    font-size:150%;
    font-weight:bold;
    line-height:1.0;
}

#picture_title{
    text-align: center;
    font-weight : bold;
    font-size: 20px;
    margin-bottom: 50px;
}

#synopsis_auteur{
    text-align: center;
}

#exemplaire_emprunt_empty{
    text-align: center;
    font-weight : bold;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #b71c1c;
}


#exemplaire_emprunt{
    text-align: center;
    font-weight : bold;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #33691E;
}
#liste ul{
    text-align: center;
    font-weight : bold;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    list-style-type: none;

}

#non_dispo{
    color: #b71c1c;
    font-weight : bold;
}

#dispo{
    color: #33691E;
    font-weight : bold;
}