{% extends 'layout.html.twig' %}

{% block contents %}
	<div id="picture_title">	
		<img src="{{ app.request.basepath }}/uploads/{{ book.image }}.jpg" />

		<span class="t">{{ book.titre }}<br> </span><br>
	
	</div>
	<div id="synopsis_auteur">
		<p>{{ book.synopsis }}</p>
		<em>{{ book.auteur }}</em><br/>
	</div>

	
	{% if nbBook is empty %}
	<div id="exemplaire_emprunt_empty">
	<span class="t">Plus aucun exemplaires disponibles pour le moment ! </span><br>
	</div>

	{% else %}
	<div id="exemplaire_emprunt">
	<span class="t">Il y a au total {{nbBook|length}} exemplaire(s) pour ce livre.  </span><br>
	<span class="t">Disponibilité : {{nbBook|length - loanBook|length}}  </span><br>
	</div>
{% endif %}

<div id="liste">
	
	
      	
	{% for copy_book in nbBook %}
		{% set boolean = false %} {# True si un exemplaire est actuellement emprunté #}
		{% set fin = 0 %}	  {# Date de fin d'emprunt #} 
		 {% set idReturn = 0 %}		{# id du livre emprunté #}
			{% for loanB in loanBook if loanB.exemplaire == copy_book.id %}
				{% set boolean = true %}
				{% set fin = loanB.fin %}
				{% set idReturn = loanB.id %}
				
			{% endfor %}

			<div class="row content">
				<div class="col-md-12">
			
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="text-center" width="5%">Référence</th>
								<th class="text-center" width="12%">Information</th>
								<th class="text-center" width="8%">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">{{ copy_book.id }}</td>
								

								{% if boolean == true %}
								<td class="text-center" id="non_dispo" >Non disponible pour le moment. Retour le {{ fin|date("d/m/Y") }} 
								( {{ fin|date("d-m-Y") - "now"|date("d-m-Y")  }} jour(s) restant)</td>

								{% else %}

									<td class="text-center" id="dispo" >Disponible à l'emprunt !</td>
								{% endif %}

								{% if app.session.get('admin') %}
									{% if boolean == true %}

										<td class="text-center"><a class="btn btn-danger "href="{{ path('returnBook', {id:  idReturn}) }}" >Retour</td>

										{% else %}


										<td class="text-center"><a class="btn btn-success " href="{{ path('loanBook', {id: copy_book.id}) }}">Emprunter</a></td>
									{% endif %}
									{% else %}
									<td id="non_dispo" class="text-center">Aucune action disponible. Connectez vous en administrateur.</td>

								{% endif %}
							</tbody>
						</table>
				{% endfor %}
			</div>
		{% endblock %}
