{% set home_active = 1 %}
{% extends 'layout.html.twig' %}
{% block contents %}


	{% if success is defined %}
		{% if success %}
			<div class="alert alert-success loginsuccess">
				L'emprunt à bien été effectué
			</div>
		{% endif %}
	{% endif %}

{% if success2 is defined %}
	{% if success2 %}
		<div class="alert alert-success loginsuccess">
			Le retour à bien été effectué, Le livre est à nouveau disponible à l'emprunt.
		</div>
	{% endif %}
{% endif %}


    <div class="jumbotron">
    <h2>Bienvenue sur le site de la bibliothèque!</h2>
    <p>
        Vous pourrez consulter la liste de nos livre et vérifier si ils sont 
        disponibles pour être empruntés.
    </p>
    </div>
{% endblock %}
