{% extends 'layout.html.twig' %}

{% block contents %}


		{% if dateSuccess == false %}
			<div class="alert alert-warning loginsuccess">
				La date de fin d'emprunt doit être supérieur à la date d'aujourd'hui !  
			</div>
		{% endif %}

{% if not app.session is empty %}
<form method="post">
    <b>Nom de l'emprunteur : </b>
    <input class="form-control" type="text" name="name" required="required"/>
    <b>Date de fin d'emprunt : </b>
    <input class="form-control" type="date" name="end_date" required="required"  />
    <br/>
    <input type="submit" class="btn btn-success" value="Lancer l'emprut" />
</form>
{% endif %}
{% endblock %}