{% extends 'layout.html.twig' %}

{% block contents %}



<form method="post" class="retour">
	<h3> Confirmez vous le retour ? </h3>
	<h2>Oui : </h2><input class="form-control retour" type="radio" name="returnBook" value="yes" />
    <h2>Non : </h2><input class="form-control retour" type="radio" name="returnBook" value= "no"/>
    <br/>
    <input type="submit" class="btn btn-success" value="Valider le retour" />
</form>

{% endblock %}